.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: rgb(185, 185, 185);
  .navbar {
    background-color: #eeeeee;
    height: 10vh;
    padding: 1rem 0;
    span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
      p {
        font-size: 2.5rem;
        font-weight: 100;
        color: grey;
      }
      a {
        width: 7.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: grey;
        cursor: pointer;
        text-decoration: none;
        font-weight: 400;
        a:visited {
          span {
            color: grey;
            font-weight: 400;
          }
        }
        &:active {
          transform: scale(1.008);
        }
      }
    }
  }
  .padding {
    padding-top: 100px;
  }
  .calculation {
    display: flex;
    background-color: rgb(185, 185, 185);
    height: calc(100vh - 10vh);
    .left {
      width: 50vw;
      height: 50%;
      border-right: 2.5px solid rgba($color: #000000, $alpha: 0.5);
      .select-container {
        margin-left: 23%;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        select {
          cursor: pointer;
          width: 60%;
          border-radius: 5px;
          font-size: 20px;
          background-color: rgb(214, 214, 214);
        }
      }
      .input-container {
        height: calc(100vh - 61px - 48px);
        width: 100%;
        .consumer-calculation,
        .readings-calculation {
          margin-top: 10px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: baseline;
          label {
            font-size: 1.3rem;
            margin-bottom: 4px;
          }
          input {
            width: 35%;
            padding-left: 10px;
            margin-bottom: 8px;
            &:active {
              transform: scale(1.008);
            }
          }
          button {
            border-radius: 5px;
            cursor: pointer;
            padding: 2.5px;
            color: #fff;
            background-color: rgba($color: #000000, $alpha: 0.5);
            &:hover {
              color: rgba($color: #000000, $alpha: 0.5);
              background-color: #fff;
            }
            &:active {
              background-color: whitesmoke;
              color: rgba($color: #000000, $alpha: 0.5);
              transform: scale(1.008);
            }
          }
          label#note {
            margin-top: 10px;
            width: 50%;
            font-size: smaller;
            font-weight: 300;
            a {
              color: #000000;
              margin: 0 3px;
            }
            a:visited {
              color: #000000;
            }
          }
        }
        & > label,
        input,
        button {
          border-radius: 6px;
          font-size: 1.5rem;
          margin-left: 25%;
        }
      }
    }
    .right {
      height: 50%;
      margin-left: 1px;
      border-left: 2.5px solid rgba($color: #000000, $alpha: 0.5);
      .result {
        padding: 50px;
        .bill-container {
          display: flex;
          flex-direction: column;
          div {
            font-size: 1.3rem;
            span {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .app {
    .navbar {
      padding: 6px 0;
      span {
        p {
          font-size: 2rem;
        }
        a {
          span {
            display: none;
          }
        }
      }
    }
    .padding {
      display: none;
    }
    .calculation {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      height: 75%;

      .left {
        border-right: none;
        width: 65%;
        .select-container {
          width: 100%;
          select {
            width: 100%;
          }
        }
        .input-container {
          width: 100%;
          .consumer-calculation,
          .readings-calculation {
            label {
              width: 100%;
            }
            input {
              width: 100%;
              margin-bottom: 5px;
            }
            label#note {
              width: 100%;
            }
          }
        }
      }
      .right {
        margin: 0;
        padding: 0;
        border-left: none;
        height: 10px;
        .result {
          padding: 0;
          padding-left: 4rem;
        }
      }
    }
  }
}
